/* This is far enough back   */

body, html {
    height: 100%;
}

body {
    background: black;
}

.container-fluid {
    height: 100%; 
}

.parallax {
    /* The image used */
    background-image: url('assets/images/keyboard.jpg');
    /* background: orange; */
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}




.scrolling-div {
    /* height:90px;
    background-color:rgb(219, 217, 217);
    color: lightblue;
  
    font-size:36px; */

/* The image used */
    /* background-image: url('../assets/images/home_office.jpg'); */
    padding-top: 20px;
    background: rgb(219, 217, 217);

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */




}



.parallax-2 {
    /* The image used */
    background-image: url('assets/images/code.png');

    /* Full height */
    height: 15%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}

.scrolling-div-2 {
    height:100%;
    background-color:rgb(219, 217, 217);
    color: black;
    /* opacity: 0.5; */
    font-size:36px;
}

.parallax-3 {
    /* The image used */
    background-image: url('assets/images/code.png');

    /* Full height */
    height: 15%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}

.scrolling-div-3 {
    height:100%;
    background-color:rgb(219, 217, 217);
    color: black;
    /* opacity: 0.5; */
    font-size:36px;
    padding: 30px;
}

.parallax-4 {
    /* The image used */
    /* background-image: url('../assets/images/office.jpg'); */
    background-image: url('assets/images/code.png');

    /* Full height */
    height: 15%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
}

.scrolling-div-4 {
    height:100%;
    background-color:rgb(219, 217, 217);
    color: black;
    /* opacity: 0.5; */
    font-size:36px;
}

.footer {
    height: 50px;
    width: 100%;
    background: darkgray;
    color: white;
    font-size: 10px;
    padding: 10px;

}


/* END PARALLAX   */

/* cut out name  */

/* .image-container {
    background-image: url("img_nature.jpg");
    background-size: cover;
    position: relative;
    height: 300px;
  } */


  .text {
    background-color: white;
    /* background: rgb(219, 217, 217); */
    color: black;
    font-size: 10vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
  }


 /* end of css for the parallax area  */
 



 /* beginning of dropdown menu in navbar  */

 .navbar {
    margin-bottom: 0px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 2;
    color: white;
    background: black;
    width: 100%;
    height: 15px;
    }
    
    .dropdown {
        margin-top: 12px;
        margin-left: 30px;
        position: relative;
        display: inline-block;
        font-size: 18px;
    }

    .glyphicon {
        font-size: 20px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    /* end of dropdown on hover  */
    
    /* return to top area  */


    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: blue;
        color: white;
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: inline-block;
      }
      
      #myBtn:hover {
        background-color: #555;
      }

      /* end of return to top area  */


      /* adding projects area  */

      .project-container {
          width: 100%;
          height: 300px;
          /* border: 2px solid black; */
          margin-top: 45px;
          padding: 25px;
      }

      .project-summary {
        position: relative;
          width: 100%;
          height: 100%;
          padding: 15px;
          background: blue;
          color: white;
      }


      .project-title,
      .info-title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 5px;
      }

      .project-body {
          margin-top: 30px;
          font-size: 20px;
          font-weight: 900;

      }
      
      .project-footer,
      .info-details {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 50px;
        color: red;
        font-size: 18px;
      }

      .project-info {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: green;
        color: white;
      }

      .info-link-div {
          margin-top: 40px;
        }

      .info-link {
          font-size: 20px;
          color: orange;

      }

      .info-techonolgies {
          margin-top: 40px;
          font-size: 20px;
          font-weight: bold;
      }

      /* #info-4:nth-child(2) {
          font-size: 10px;
      } */


/* end of adding to portfolio area */


/* beginning of education area   */

.education-area {
    padding: 50px;
}

.education-title {
    font-size: 40px;
    margin-top: 5px;
    font-weight: bolder;

}

.education-wrapper {
    border: 1px solid black;
    margin-top: 20px;
}

.education-wrapper:hover {
    background: white;
}

.education {
    margin-left: 100px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.education-1,
.education-2,
.education-3,
.education-4 {
    /* margin-top: 15px; */
}

.college {
    font-size: 24px;
    font-weight: bolder;
    
}

/* end of education area  */

/* beginning of contact area  */
.contact-title {
    font-size: 40px;
    font-weight: bolder;
    margin-top: 20px;
}

.contact-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* border: 2px solid black; */
    height: 400px;

}

.contact-input-area {
    width: 60%;
    float: left;
    /* background: green; */
    height: 400px;
    padding: 10px;
    border-right: 2px solid black;
    /* font-size: 24px; */
}

.contact-form {
    margin-left: 50px;
    margin-top: 40px;
    font-size: 65%;
}

.label {
    margin-top: 30px;
}

.form-left {
    width: 100px;
    /* font-size: 24px; */
    display: inline-block;
}

.input {
    margin-left: 10px; 
    color: black;
    font-weight: 400;
    font-size: 16px;
}


.left-message {
    width: 125px;
    float: left;
    height: 100px;
    margin-top: 15px;
}



.right-message {
    width: 300px;
    float: left;
    height: 100px;
    margin-top: 15px;
}

#message {
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.clearfix {
    clear: both;
}

#submit-form {
   margin-left: 40px;
}







.contact-link-area {
    width: 40%;
    float: right;
    /* background: blue; */
    height: 400px;
    padding: 10px;
}

.link-email-title {
    margin-top: 50px;
    font-size: 22px;
    margin-left: 60px;
}
.link-email {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 60px;
    
}

.link-github-title {
    margin-top: 50px;
    font-size: 22px;
    margin-left: 60px;
}

.link-github {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 60px;
}
