


.contact-area {
    height: 100%;
}

.contact-title {
    margin-top: 50px;
    color: #00bc8c;
    font-weight: bolder;
    font-size: 50px;
}

.resume-area {
    margin-top: 50px;
}

.github-area,
.linkedin-area {
    margin-top: 50px;
}

.email-area {
    margin-top: 50px;
}

.contact-button {
    margin-top:0px;
    margin-left: 0px;
    border-radius: 40px;
    height: 90px;
    width: 150px;
    background: #375a7f;
    color: #303030;
    font-size: 30px;
}
    
.contact-button:hover {
    margin-top:0px;
    margin-left: 0px;
    border-radius: 40px;
    height: 90px;
    width: 150px;
    background: #77b0ec;
    color: white;
    font-size: 30px;
}























