
/* Asside Area  */

.aside-link-area {
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 300px;
    z-index: 10;
    overflow: hidden;
}


.button-border {
    border-radius: 10px;
    height: 50px;
    width: 100px;
    background: #00bc8c;
    color: white;
    /* opacity: .5; */
    font-weight: bolder;
    font-size: 16px;
}

.button-border:hover {
    background: #74f3d3;
    color: #3498DB;
}

.link-btn {
    position: absolute;
    top: 100px;
    left: 50px;
}

#first-link {
          
    position: absolute;
    left:100px;
    top:-250px;
    animation-name: first;
    animation-delay: 1s;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
}

  #second-link {
    
    position: absolute;
    left:100px;
    top:-250px;
    animation-name: second;
    animation-delay: 1s;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }

  #third-link {
   
    position: absolute;
    left:100px;
    top:-250px;
    animation-name: third;
    animation-delay: 1s;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }

  @keyframes first {
    from {top: 0px;}
    to {top: 500px}
}

@keyframes second {
    from {top: 0px;}
    to {top: 350px}
}

@keyframes third {
    from {top: 0px;}
    to {top: 200px}
}
   

/* arrow links  */

    /* project link  */
#projects-link {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    z-index: 10;
    visibility: hidden;
  }

  .arrow_box {
	position: relative;
    background: #303030;
    color: white;
    border: 4px solid #00bc8c;
    width: 100px;
    font-size: 20px;
    padding: 3px;
    font-weight: bold;
    text-decoration: none;
}


.arrow_box:hover {
    color: #3498DB;
}
.arrow_box:after, 
.arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #303030;
	border-width: 30px;
    margin-left: -30px;
    
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #00bc8c;
	border-width: 36px;
	margin-left: -36px;
}

#arrow_education {
    color: white;
    background: black;
}
#arrow_education:after {
	border-top-color: black;
}

    /* education link  */
    #education-link {
        margin: 0 auto;
        width: 200px;
        text-align: center;
        position: absolute;
        top: 190%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    
   /* skills link  */
   #skills-link {
     margin: 0 auto;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 315%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  #arrow_skills {
    color: white;
    background: black;
}
#arrow_skills:after {
	border-top-color: black;
}

/* contact link  */
#contact-link {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 437%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  #arrow_contact {
    color: white;
    background: black;
}
#arrow_contact:after {
	border-top-color: black;
}


/* return to top area  */


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3498DB;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 10px;
    padding-left:10px;
    text-decoration: none;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  /* end of return to top area  */



