


      /* adding projects area  */

      .project-area {
          padding-top: 50px;
      }

      .projects-title {
        color: #00bc8c;
        font-weight: bolder;
        font-size: 50px;
      }

      .project-container {
          width: 100%;
          height: 300px;
          /* border: 2px solid black; */
          margin-top: 150px;
          padding: 25px;
          /* background: #303030; */
      }

      .project-summary {
        position: relative;
          width: 100%;
          height: 100%;
          padding: 15px;
          background: #303030;
          color: #00bc8c;
          border-radius: 8px;
      }


      .project-title,
      .info-title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 5px;
      }

      .project-body {
          margin-top: 30px;
          font-size: 20px;
          font-weight: 900;

      }
      
     
      .info-details {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 50%;
        /* color: #3498DB; */
        font-size: 18px;
      }

      .project-footer {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: 50%;
        color: #3498DB;
        font-size: 18px;
      }

      .project-deploy-link {
          color: #F39C12;
      }

      .project-deploy-link:hover {
        color: #F39C12;
    }

      .project-info {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #375a7f;
        color: #00bc8c;
        border-radius: 8px;
      }

      .info-link-div {
          margin-top: 30px;
        }

      .info-link {
          font-size: 20px;
          color: #F39C12;
      }

      .info-link:hover {
        color: #F39C12;
    }

      .info-techonolgies {
          margin-top: 20px;
          font-size: 20px;
          font-weight: bold;
      }

      /* #info-4:nth-child(2) {
          font-size: 10px;
      } */


