


/* adding projects area  */

.project-area {
    padding-top: 50px;
    box-sizing: border-box;
}

.projects-title {
  color: #00bc8c;
  font-weight: bolder;
  font-size: 50px;
}

.project-container {
    width: 80%;
    height: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 25px; */
}


.project-box {
  position: relative;
    width: 100%;
    height: 100%;
    color: #00bc8c;
    border-radius: 8px;
}


    /* project 1 image shown before hover  */
    #project-1-image {
      width: 100%;
      height: 100%;
      background-image: url("../images/projects/AD_On.png");
      background-size: 100% 100%;
    }

    /* project 1 image shown after hover  */
    #project-1-image-info {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      position: relative;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/projects/AD_On.png");
    }


    /* project 2 image shown before hover  */
    #project-2-image {
      width: 100%;
      height: 100%;
      background-image: url("../images/projects/AD_On.png");
      background-size: 100% 100%;
    }

    /* project 2 image shown after hover  */
    #project-2-image-info {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      position: relative;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/projects/AD_On.png");
    }


    /* project 3 image shown before hover  */
    #project-3-image {
      width: 100%;
      height: 100%;
      background-image: url("../images/projects/Match_It.png");
      background-size: 100% 100%;
    }

    /* project 3 image shown after hover  */
    #project-3-image-info {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      position: relative;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/projects/Match_It.png");
    }

    /* project box on hover  */
        .project-info {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 15px;
          background: #375a7f;
          color: #00bc8c;
          border-radius: 8px;
        }

            /* css inside the info box (visible on hover)  */
            .visit-site {
              position: relative;
              top: 10px;
            }

            .visit-site-link {
              color: white;
              font-size: 40px;
              font-weight: bolder;
              text-decoration: none;
            }

            .visit-site-link:hover {
              color: rgb(211, 197, 197);
              font-weight: bold;
              text-decoration: none;
            }



            .github {
              position: relative;
              top: 25px;
            }

            .github-link {
              color: white;
              font-size: 26px;
              font-weight: bolder;
              text-decoration: none;
            }

            .github-link:hover {
              color: rgb(211, 197, 197);
              font-weight: bold;
              text-decoration: none;
            }

            .tech-info {
              position: relative;
              top: 65px;
              color: white;
              font-size: 23px;
            }
      
  
@media screen and (min-width: 0px) and (max-width: 768px) {

 


};



