
/* .contact-title {
    margin-top: 50px;
    font-size: 60px;
    font-weight: bolder;
} */

.skills-area {
    margin-top: 50px;
}

.skills-title {
    color: #00bc8c;
    font-weight: bolder;
    font-size: 50px;
}

.skill-image {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
 
    /* padding-top: 50px;
    padding-bottom: 50px; */
   
}

.skill-row {
    margin-top: 75px;
}

.skill-row-2 {
    margin-top: 150px;
}



























