
/* top button  */

#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3498DB;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 10px;
    padding-left:10px;
    text-decoration: none;
  }
  
  #myBtn:hover {
    background-color: #555;
  }




/* main  */
body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: black;
}


/* -------- navbar ------------ */

    .navbartop {
        width: 100%;
    }

    .navbar {
        margin-bottom: 0px;
        position: fixed; 
        top: 0; 
        z-index: 2;
        color: white;
        background: #375a7f;
        width: 100%;
        height: 15px;
        border-bottom: 2px solid black;
    }

    .navbarName {
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
    }

    .navbar-title {
        font-size: 30px;
        font-weight: bolder;
    }

    .nav-top-link {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
        font-size: 16px;
    }
    .nav-top-link:hover {
        color: rgb(204, 194, 194); 
        text-decoration: none;
    }
    
    .dropdown {
        padding-top: 12px;
        padding-left: 30px;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        font-size: 18px;
    }

    .glyphicon {
        font-size: 20px;
    }
    .glyphicon-menu-hamburger:hover {
        color: rgb(171, 171, 245);
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #303030;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        border-radius: 5px;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .nav-link:hover {
        color: #00bc8c;
    }



    .portfolio {
        height: 100%;
    }


    /* -------- home page ------------- */

    .homepage {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .homepage-background {
        background-image: url('../images/keyboard.jpg');
        height: 100%;
        width: 100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
    }


    .homepage-name {
        width: 400px;
        margin: 0 auto;
        margin-top: 300px;
        font-size: 60px;
        color: white;
        font-weight: bolder;
        padding: 20px;
        background: #00bc8c;
        border-radius: 8px;
        text-align: center;
    }


/* asside link box  */
    .aside-link-area {
        position: absolute;
        top:0px;
        left: 0px;
        height: 100%;
        width: 300px;
        z-index: 1;
        overflow: hidden;
    }
    
    
    .button-border {
        border-radius: 10px;
        height: 50px;
        width: 100px;
        background: #00bc8c;
        color: white;
        font-weight: bolder;
        font-size: 16px;
    }
    
    .button-border:hover {
        background: #74f3d3;
        color: white;
    }
    
    .link-btn {
        position: absolute;
        top: 100px;
        left: 50px;
    }
    
    #first-link {
              
        position: absolute;
        left:75px;
        top:-250px;
        animation-name: first;
        animation-delay: 1s;
        animation-duration: 3s;  
        animation-fill-mode: forwards;
    }
    
    #second-link {
        position: absolute;
        left:75px;
        top:-250px;
        animation-name: second;
        animation-delay: 1s;
        animation-duration: 3s;  
        animation-fill-mode: forwards;
    }
    
    #third-link {
        position: absolute;
        left:75px;
        top:-250px;
        animation-name: third;
        animation-delay: 1s;
        animation-duration: 3s;  
        animation-fill-mode: forwards;
    }
    
    @keyframes first {
        from {top: 0px;}
        to {top: 500px}
    }
    
    @keyframes second {
        from {top: 0px;}
        to {top: 350px}
    }
    
    @keyframes third {
        from {top: 0px;}
        to {top: 200px}
    }
       

    /* ----------- project page ------------- */

    .projectspage {
        height: 130%;
        background: black;
    }
   
    .projects-title {
        color: #00bc8c;
        font-weight: bolder;
        font-size: 50px;
    }


    .project-container {
        height: 210px;
        width: 185px;
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }


    .project {
        position: relative;
        margin: 0px auto;
        margin-top: 20px;
        width: 185px;
        height: 185px;
        background: black;
    }

    .image-container {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: .5s ease;
    }


    .links {
        transition: .5s ease;
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 6px solid #375a7f;
        border-radius: 5px;
    }

    .project:hover .image {
        opacity: 0.5;
        filter: brightness(50%);
    }
    .project:hover .links {
        opacity: 1;
    }

    .image {
        display: block;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        object-fit: contain;
    }

    .project-title {
        width: 100%;
        color: #00bc8c;
        font-size: 15px;
    }


    .visit-site {
        text-align: center;
        margin-top: 18px;
    }

    .visit-site-link {
        color: white;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }

    .visit-site-link:hover {
        color: rgb(197, 188, 188);
        text-decoration: none;
    }

    .github {
        margin-top: 18px;
    }

    .github-link {
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
    }

    .github-link:hover {
        color: rgb(197, 188, 188);
        text-decoration: none;
    }

    .tech-info {
        margin-top: 20px;
        font-size: 16px;
        color: #00bc8c;
        font-weight: bold;
    }

    /* temp styling  */
    #visit-site {
        color: red;
        font-weight: bolder;
        font-size: 22px;
    }

    #tech-info {
        margin-top: 27px;
    }

    /* ------------- education page ----------- */

    .educationpage {
        height: 120%;
    }

    .education-area {
        margin-top: 10px;
        padding: 5px;
    }
    
    .education-title {
        color: #00bc8c;
        font-weight: bolder;
        font-size: 50px;
    }
    
    .education-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        border: 1px solid black;
        border-radius: 4px;
        background: #375a7f;
        color: white;
    }
    
    .education-college {
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .education-degree {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }

    .education-date {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }


    /* ------------ skillspage ---------------- */

    .skillspage {
        height: 100%;
    }

    .skills-title {
        margin-top: 15px;
        font-size: 50px;
        font-weight: bolder;
        color: #00bc8c;
    }

    .skills-area {
        margin-top: 30px;
        padding-bottom: 120px;
    }

    .skill-row,
    .skill-row-2 {
        display: inline-block;
        margin: 15px;
    }

    .skill-image-area {
        height: 70px;
        width: 70px;
        text-align:center;
        margin: 5px;
    }

    .skill-image {
        height: 100%;
        width: 100%;
    }


    /* ------------- contact page ------------- */

    .contactpage {
        height: 100%;
    }

    .contact-title {
        margin-top: 25px;
        font-size: 50px;
        font-weight: bolder;
        color: #00bc8c;
    }

    .contact {
        width: 100px;
        height: 100px;
        margin: 30px auto;
    }

    .contact-link {
        width: 100%;
        height: 100%;
        opacity: .8;
    }

    .contact-link:hover {
        opacity: 1;
    }


/* =========================================================== */

@media screen and (min-width: 0px) and (max-width: 423px) {

    #aside { display: none; }

    .homepage-name {
        width: 250px;
        font-size: 50px;
        padding: 15px;
    }

    .nav-top-link { display: none; }
    
    /* temp styling  */
    #visit-site {
        font-size: 18px;
         margin-top: 0px;
     }
 
     #tech-info {
         margin-top: 7px;
         font-size: 11px;
     }
}



@media screen and (min-width: 424px) and (max-width: 768px) {
    #aside { display: none; }


     /* ----------- project page ------------- */
     .projectspage {
        height: 150%;
        background: black;
    }

    .projects-title {
        font-size: 60px;
    }

    /* temp styling  */
    #visit-site {
       font-size: 18px;
        margin-top: 0px;
    }

    #tech-info {
        margin-top: 7px;
        font-size: 13px;
    }

    /* ------------ skillspage ---------------- */

    .skills-title {
        margin-top: 15px;
        font-size: 60px;
    }

    .skills-area {
        margin-top: 10px;
    }

    .skill-row,
    .skill-row-2 {
        margin: 15px;
    }

    .skill-image-area {
        height: 80px;
        width: 80px;
        margin-top: 10px;
    }


    /* ------------- education page ----------- */

    .educationpage {
        height: 100%;
    }

    .education-title {
        font-size: 60px;
    }

     /* ------------- contact page ------------- */

    .contact-title {
        margin-top: 25px;
        font-size: 60px;
        font-weight: bolder;
    }

    .contact {
        width: 120px;
        height: 120px;
        margin: 20px auto;
    }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {

    #aside { display: none; }

     /* projects page  */
     .projectspage {
        height: 100%;
    }
    
    .projects-title {
        color: #00bc8c;
        font-weight: bolder;
        font-size: 70px;
    }

    .projects-container {
        text-align: center;
        margin-top: 100px;
        
    }

    .project-container {
        display:inline-block;
        height: 250px;
        width: 225px;
        margin: 13px;
        text-align: center;
    }

    .project {
        position: relative;
        margin: 0px auto;
        width: 225px;
        height: 225px;
        background: black;
    }


    /* ------------- education page ----------- */

    .educationpage {
        height: 110%;
    }
    
    .education-title {
        font-size: 70px;
     }
    
    .education-wrapper {
        margin-top: 12px;
    }

    .education-college {
        padding: 8px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .education-degree {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 8px;
    }

    .education-date {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 8px;
    }


    /* ------------ skillspage ---------------- */

    .skillspage {
        height: 100%;
    }

    .skills-title {
        margin-top: 25px;
        font-size: 70px;
        font-weight: bolder;
    }

    .skills-area {
        margin-top: 30px;
        padding-bottom: 120px;
    }

    .skill-row,
    .skill-row-2 {
        margin: 15px;
        text-align: center;
    }

    .skill-image-area {
        display: inline-block;
        height: 100px;
        width: 100px;
        text-align:center;
        margin: 10px;
    }

     /* ------------- contact page ------------- */

    .contact-title {
        margin-top: 25px;
        font-size: 70px;
    }

    .contact {
        width: 120px;
        height: 120px;
        margin: 20px auto;
    }

    .contact-sameline {
        display: inline-block;
        text-align: center;
        margin: 0 100px;
    }

}


@media screen and (min-width: 1025px) and (max-width: 2200px) {

    .navbartop { display: none; }  

/* home page  */

    .homepage-name {
        width: 500px;
        font-size: 100px;
    }

  /* projects page  */

     
    .projects-title {
        font-size: 90px;
    }
    
    .projects-container {
        text-align: center;
        margin-top: 100px;
    }

    .project-container {
        display:inline-block;
        height: 315px;
        width: 290px;
        margin: 25px;
    }

    .project {
        width: 290px;
        height: 290px;
    }


    .visit-site {
        margin-top: 30px;
    }

    .visit-site-link {
        font-size: 22px;
    }

    .github {
        margin-top: 45px;
    }

    .github-link {
        font-size: 22px;
    }

    .tech-info {
        margin-top: 60px;
        font-size: 20px;
    }

   /* ------------- education page ----------- */

    .educationpage {
        height: 110%;
    }

    .education-title {
        font-size: 90px;
    }

    .education-wrapper {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        border: 1px solid black;
        color: white;
    }

    .education-college {

        padding: 6px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .education-degree {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 6px;
    }

    .education-date {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 3px;
    }


/* ------------ skillspage ---------------- */

    .skillspage {
        height: 100%;
    }

    .skills-title {
        margin-top: 25px;
        font-size: 90px;
        font-weight: bolder;
    }

    .skills-area {
        margin-top: 30px;
        padding-bottom: 200px;
    }

    .skill-row,
    .skill-row-2 {
        margin: 35px;
        margin-top: 20px;
        text-align: center;
    }

    .skill-image-area {
        display: inline-block;
        height: 120px;
        width: 120px;
        text-align:center;
        margin: 15px;
    }

 /* ------------- contact page ------------- */

    .contact-title {
        margin-top: 25px;
        font-size: 90px;
    }

    .contact {
        width: 130px;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
    }

    .contact-sameline {
        display: inline-block;
        text-align: center;
        margin: 0 150px;
    }

}




